Repository eamonmason/rss-email: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cdk-synth

pylint:
  name: pylint
  entry: bash -c 'uv run pylint --fail-under=9.9 "$@"' --
  language: system
  require_serial: true

cdk-synth:
  name: cdk synth
  entry: bash -c 'npx cdk synth --no-staging > /dev/null 2>&1 || true'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: Robust case-insensitive trigger for Agent Executor
  .github/workflows/agent-executor.yml
Due: none

fix: Correct permission name to 'actions'
  .github/workflows/agent-executor.yml
Due: none

refactor: Modularize AI workflows using reusable definitions
  .github/workflows/agent-executor.yml
  .github/workflows/agent-planner.yml
  .github/workflows/agent-reviewer.yml
Due: none

chore: Update workflow references to main branch
  .github/workflows/agent-executor.yml
  .github/workflows/agent-planner.yml
  .github/workflows/agent-reviewer.yml
Due: none

chore: Pass latest comment to iterative planner
  .github/workflows/agent-planner.yml
Due: none

fix: Make Agent Planner defensive against null event values
  .github/workflows/agent-planner.yml
Due: none

fix: Use toJSON for robust string handling in Agent Planner
  .github/workflows/agent-planner.yml
Due: none

fix: Simplify inputs to Agent Planner
  .github/workflows/agent-planner.yml
Due: none

Reduce Step Functions execution timeout from 25h to 2h
  lib/rss_lambda_stack.ts
Due: cdk-synth

Don't send empty email or advance lastrun when all batch requests fail
  src/rss_email/retrieve_and_send_email.py
Due: pylint

fix: update tests to match RuntimeError behavior for total batch failures
  tests/test_podcast_generator.py
  tests/test_retrieve_and_send_email.py
Due: pylint

fix: increase Step Functions timeout from 2h to 12h
  lib/rss_lambda_stack.ts
Due: cdk-synth

Increase Lambda memory to 512MB to handle expanded RSS feed list
  lib/rss_lambda_stack.ts
Due: cdk-synth

Limit podcast script generation to 100 newest articles to avoid token limits
  src/rss_email/submit_podcast_batch.py
Due: pylint

Complete memory increase (512MB) and timeout extension for all batch functions
  lib/rss_lambda_stack.ts
Due: cdk-synth

Enable INFO logging for batch submission functions
  src/rss_email/submit_email_batch.py
  src/rss_email/submit_podcast_batch.py
Due: pylint

Replace RSSGenerationFunction with RetrieveRSSArticlesFunction
  lib/rss_lambda_stack.ts
Due: cdk-synth

Add per-feed article count summary to email footer
  src/rss_email/email_articles.py
  src/rss_email/retrieve_and_send_email.py
  src/rss_email/retrieve_articles.py
  src/rss_email/retrieve_rss_articles.py
  tests/test_retrieve_articles.py
Due: pylint

fix: use logRetention instead of explicit LogGroup for RetrieveRSSArticles
  lib/rss_lambda_stack.ts
Due: cdk-synth

feat: add per-feed article limits with max_articles and lookback_days
  setup.cfg
  src/rss_email/models.py
  src/rss_email/retrieve_articles.py
  tests/test_retrieve_articles.py
Due: pylint

feat: group multi-feed coverage of the same event before summarizing
  src/rss_email/article_grouper.py
  src/rss_email/article_processor.py
  src/rss_email/email_articles.py
  src/rss_email/models.py
  src/rss_email/retrieve_and_send_email.py
  src/rss_email/retrieve_articles.py
  src/rss_email/submit_email_batch.py
  tests/test_article_data.py
  tests/test_article_grouper.py
  tests/test_article_processor.py
  tests/test_batch_metadata_enrichment.py
  tests/test_comprehensive_email_flow.py
  tests/test_email_articles.py
  tests/test_processed_article_comments.py
  tests/test_retrieve_articles.py
  tests/test_submit_email_batch.py
Due: pylint

Fix grouping JSON parse failure when Claude returns markdown-fenced response
  src/rss_email/article_grouper.py
Due: pylint

Fix Dependabot and code security alerts
  .github/workflows/agent-executor.yml
  .github/workflows/agent-planner.yml
  .github/workflows/agent-reviewer.yml
  .github/workflows/lint_and_test.yml
  .github/workflows/test-cdk.yml
  package-lock.json
  package.json
  src/rss_email/article_processor.py
  src/rss_email/podcast_generator.py
  tests/test_functional_workflow.py
  uv.lock
Due: pylint

Fix per-feed failure isolation and silence 403 false alarms
  src/rss_email/retrieve_articles.py
  tests/test_retrieve_articles.py
Due: pylint

added dependabot weekly checks
  .github/dependabot.yml
Due: none

chore: add Dependabot config and auto-merge workflow
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Due: none

chore: add Dependabot auto-merge caller workflow
  .github/workflows/dependabot.yml
Due: none

chore: add Dependabot config and auto-merge workflow (#19)
  .github/dependabot.yml
Due: none

Add RSS Brief companion email
  lib/rss_lambda_stack.ts
  src/cli_brief_generator.py
  src/rss_email/brief_body.html
  src/rss_email/brief_config.json
  src/rss_email/brief_generator.py
  src/rss_email/email_articles.py
  src/rss_email/models.py
  src/rss_email/retrieve_and_send_email.py
  tests/test_brief_generator.py
Due: pylint, cdk-synth

Broaden brief scope, add source ranking, fix AI/ML key, add promptfoo eval
  .github/workflows/eval.yml
  eval/README.md
  eval/assertions/major_coverage.cjs
  eval/assertions/schema.cjs
  eval/assertions/source_ranking.cjs
  eval/fixtures/2026-06-15/digest_articles.json
  eval/fixtures/2026-06-15/digest_text.txt
  eval/fixtures/2026-06-15/expected_major.json
  eval/promptfooconfig.yaml
  eval/provider.py
  package-lock.json
  package.json
  src/rss_email/brief_config.json
  src/rss_email/brief_generator.py
  tests/test_brief_generator.py
Due: pylint

Fix CDK synth CI: --legacy-peer-deps for optional mongodb gcp-metadata dep
  .github/workflows/test-cdk.yml
Due: none

Fix CodePipeline synth: --legacy-peer-deps for mongodb optional peer dep
  lib/rss_pipeline_stack.ts
Due: cdk-synth

Isolate promptfoo into eval/ to unblock the CDK pipeline
  .github/workflows/eval.yml
  .github/workflows/test-cdk.yml
  eval/README.md
  eval/assertions/schema.cjs
  eval/assertions/source_ranking.cjs
  eval/package-lock.json
  eval/package.json
  eval/promptfooconfig.yaml
  lib/rss_pipeline_stack.ts
  package-lock.json
  package.json
Due: cdk-synth

Throttle rate-limited feed hosts; skip 429 without hammering
  src/rss_email/retrieve_articles.py
  tests/test_retrieve_articles.py
Due: pylint

Fix eval CI failures: secret path, flaky SSL test, non-deterministic brief
  .github/workflows/eval.yml
  eval/provider.py
  src/rss_email/brief_generator.py
  tests/test_retrieve_articles.py
Due: pylint

Fix RetrieveAndSendEmail Lambda timeout killing brief generation
  lib/rss_lambda_stack.ts
Due: cdk-synth

Use streaming for brief synthesis to avoid wall-clock timeout
  src/rss_email/brief_generator.py
  tests/test_brief_generator.py
Due: pylint

Set CLAUDE_MODEL env var on RetrieveAndSendEmailFunction
  lib/rss_lambda_stack.ts
Due: cdk-synth

Fix flaky eval: pin grader to temperature=0 and add one retry
  .github/workflows/eval.yml
  eval/promptfooconfig.yaml
Due: none

Use relative (em) font sizes in email templates to respect iOS Dynamic Type
  src/rss_email/brief_body.html
  src/rss_email/brief_generator.py
  src/rss_email/email_articles.py
  src/rss_email/email_body_enhanced_simple.html
  tests/test_brief_generator.py
Due: pylint

Path conditions:
  pylint: any of: ^(src/|tests/).*\.py$ and \.py$
  cdk-synth: any of: ^(lib/|bin/).*\.(ts|js)$
