Repository eamonmason/rss-email: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cdk-synth

.pre-commit-config.yaml:

# Pre-commit hooks for RSS Email project
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags used by CDK
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending

  # Python linting with flake8 (PEP 8 compliance)
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ['--max-line-length=120']
        files: \.py$
        exclude: ^(node_modules/|\.venv/|build/|dist/)

  # Python linting with pylint (code quality)
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c 'uv run pylint --fail-under=9.9 "$@"' --
        language: system
        types: [python]
        files: ^(src/|tests/).*\.py$
        require_serial: true

  # Python unit tests
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c 'uv run python -m pytest tests'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # CDK synth check (optional, only on pre-push)
  - repo: local
    hooks:
      - id: cdk-synth
        name: cdk synth
        entry: bash -c 'npx cdk synth --no-staging > /dev/null 2>&1 || true'
        language: system
        pass_filenames: false
        files: ^(lib/|bin/).*\.(ts|js)$
        stages: [pre-push]

fix: correct test expectation in test_get_feed_items_retry
  tests/test_retry_and_comments.py
Due: pylint

Update generate_test_podcast.py
  generate_test_podcast.py
Due: none

fix: change podcast trigger to run after email instead of RSS generation
  README.md
  lib/rss_lambda_stack.ts
Due: cdk-synth

Feat/podcast generation (#10)
  .env.example
  .github/workflows/lint_and_test.yml
  .github/workflows/test-cdk.yml
  .gitignore
  .npmrc
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  assets/logo.png
  bin/cdk.ts
  bin/pipeline-cdk.ts
  cdk.json
  generate_test_podcast.py
  lib/rss_lambda_stack.ts
  lib/rss_pipeline_app_stage.ts
  lib/rss_pipeline_stack.ts
  pyproject.toml
  setup.cfg
  src/rss_email/email_articles.py
  src/rss_email/email_body.html
  src/rss_email/email_body_enhanced.html
  src/rss_email/email_body_enhanced_simple.html
  src/rss_email/log_forwarder.js
  src/rss_email/podcast_generator.py
  src/rss_email/test_log_forwarder.js
  test_podcast_local.py
  tests/test_podcast_generator.py
  tests/test_retry_and_comments.py
  tsconfig.json
  uv.lock
Due: pylint, cdk-synth

feat: add CloudFront distribution for public podcast access
  lib/rss_lambda_stack.ts
Due: cdk-synth

feat: add S3 lifecycle rule to delete old podcast episodes
  lib/rss_lambda_stack.ts
  src/rss_email/podcast_generator.py
Due: pylint, cdk-synth

feat: use CloudFront domain for podcast feed URLs
  lib/rss_lambda_stack.ts
  src/rss_email/podcast_generator.py
Due: pylint, cdk-synth

test: mock get_cloudfront_domain in podcast generator test
  .pre-commit-config.yaml
  tests/test_podcast_generator.py
Due: pylint

feat: change podcast host from John to Joanna
  CLAUDE.md
  generate_test_podcast.py
  src/rss_email/podcast_generator.py
  test_podcast_local.py
  tests/test_podcast_generator.py
Due: pylint

fix: improve error logging for parameter store retrievals
  src/rss_email/article_processor.py
  src/rss_email/email_articles.py
  src/rss_email/podcast_generator.py
Due: pylint

docs: resize logo to 33% of original size in README
  README.md
Due: none

feat: add CloudFront cache invalidation for podcast feed
  CLAUDE.md
  lib/rss_lambda_stack.ts
  src/rss_email/podcast_generator.py
Due: pylint, cdk-synth

fix: add required length attribute to podcast RSS enclosure tags
  CLAUDE.md
  src/rss_email/podcast_generator.py
  tests/test_podcast_generator.py
Due: pylint

Upgrade to Claude Haiku 4.5 (claude-haiku-4-5-20251001) (#13)
  CLAUDE.md
  README.md
  lib/rss_lambda_stack.ts
  src/rss_email/article_processor.py
  src/rss_email/email_articles.py
  src/rss_email/models.py
  src/rss_email/podcast_generator.py
  tests/test_article_processor.py
  tests/test_claude_improvements.py
  tests/test_comprehensive_email_flow.py
Due: pylint, cdk-synth

fix: resolve JSON parsing errors in email generation
  lib/rss_lambda_stack.ts
  src/rss_email/article_processor.py
  src/rss_email/json_repair.py
Due: pylint, cdk-synth

feat: migrate to Anthropic Message Batches API with Step Functions orchestration
  lib/rss_lambda_stack.ts
  src/rss_email/check_email_batch_status.py
  src/rss_email/check_podcast_batch_status.py
  src/rss_email/email_articles.py
  src/rss_email/podcast_generator.py
  src/rss_email/retrieve_and_generate_podcast.py
  src/rss_email/retrieve_and_send_email.py
  src/rss_email/submit_email_batch.py
  src/rss_email/submit_podcast_batch.py
  tests/test_check_email_batch_status.py
  tests/test_podcast_batch_modules.py
  tests/test_podcast_script_prompt.py
  tests/test_retrieve_and_send_email.py
  tests/test_submit_email_batch.py
Due: pylint, cdk-synth

fix: resolve pylint errors to pass CI checks
  src/rss_email/email_articles.py
  tests/test_check_email_batch_status.py
  tests/test_podcast_batch_modules.py
  tests/test_podcast_script_prompt.py
  tests/test_retrieve_and_send_email.py
  tests/test_submit_email_batch.py
Due: pylint

fix: add missing RSS retrieval step to Step Functions workflow
  .claude/settings.local.json
  lib/rss_lambda_stack.ts
  src/rss_email/retrieve_rss_articles.py
Due: pylint, cdk-synth

fix: correct Step Functions task path configurations
  lib/rss_lambda_stack.ts
Due: cdk-synth

fix: handle dict vs object attribute access in email HTML generation
  src/rss_email/email_articles.py
Due: pylint

fix: escape XML characters in podcast SSML and improve prompt clarity
  src/rss_email/podcast_generator.py
Due: pylint

refactor: remove redundant infrastructure and connect SNS to Step Functions
  README.md
  lib/rss_lambda_stack.ts
  src/rss_email/article_processor.py
  src/rss_email/podcast_generator.py
  src/rss_email/retrieve_and_generate_podcast.py
  tests/test_podcast_generator.py
Due: pylint, cdk-synth

chore: remove .claude/settings.local.json from git tracking
  .claude/settings.local.json
Due: none

feat: restore comment links in batch-processed emails
  lib/rss_lambda_stack.ts
  src/rss_email/check_email_batch_status.py
  src/rss_email/retrieve_and_send_email.py
  src/rss_email/submit_email_batch.py
  src/rss_email/submit_podcast_batch.py
  tests/test_batch_metadata_enrichment.py
  tests/test_retrieve_and_send_email.py
Due: pylint, cdk-synth

fix: convert ProcessedArticle objects to dictionaries in create_html
  src/rss_email/email_articles.py
Due: pylint

fix: ensure article IDs are globally unique across batches
  src/rss_email/article_processor.py
  src/rss_email/submit_email_batch.py
  tests/test_batch_metadata_enrichment.py
Due: pylint

security patch: GHSA-6475-r3vj-m8vf Low severity GHSA-6475-r3vj-m8vf Low severity
  package-lock.json
Due: none

updated security updates
  package-lock.json
  uv.lock
Due: none

fix: package update for CVEs: CVE-2025-66418 High severity CVE-2025-66471 High severity CVE-2026-21441 High severity
  package-lock.json
  pyproject.toml
  uv.lock
Due: none

fix: resolve CVEs - CVE-2026-25128 High severity CVE-2026-25128 High severity
  package-lock.json
Due: none

chore: CVE-2026-25128 High severity
  package-lock.json
  package.json
Due: none

chore: update npm dependencies and apply security fixes
  package-lock.json
Due: none

fix: resolve GitHub Actions CI failures and pylint violations
  package-lock.json
  package.json
  src/rss_email/email_articles.py
  src/rss_email/submit_email_batch.py
  tests/test_claude_improvements.py
  tests/test_podcast_generator.py
Due: pylint

fix: address Dependabot security alerts for Pygments, cryptography, and fast-xml-parser
  src/rss_email/package-lock.json
  src/rss_email/package.json
  uv.lock
Due: none

fix: address Dependabot security alerts for Node.js dependencies (aws-cdk-lib, fast-xml-parser, etc.)
  package-lock.json
  package.json
Due: none

feat: Implement AI-native agentic workflow
  .github/workflows/agent-executor.yml
  .github/workflows/agent-planner.yml
  .github/workflows/agent-reviewer.yml
  .github/workflows/agent-triage.yml
  AI_WORKFLOW.md
Due: none

chore: Update AI workflows with non-interactive Claude Code flags
  .github/workflows/agent-executor.yml
  .github/workflows/agent-planner.yml
  .github/workflows/agent-reviewer.yml
Due: none

fix: Use production environment and robust env vars for agent workflows
  .github/workflows/agent-executor.yml
  .github/workflows/agent-planner.yml
  .github/workflows/agent-reviewer.yml
Due: none

fix: Grant workflows permission to Agent Executor
  .github/workflows/agent-executor.yml
Due: none
