Repository eamonmason/rss-email: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cdk-synth

.pre-commit-config.yaml:

# Pre-commit hooks for RSS Email project
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags used by CDK
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending

  # Python linting with flake8 (PEP 8 compliance)
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ['--max-line-length=120']
        files: \.py$
        exclude: ^(node_modules/|\.venv/|build/|dist/)

  # Python linting with pylint (code quality)
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c 'uv run pylint --fail-under=9.9 "$@"' --
        language: system
        types: [python]
        files: ^(src/|tests/).*\.py$
        require_serial: true

  # Python unit tests
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c 'uv run python -m pytest tests'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # CDK synth check (optional, only on pre-push)
  - repo: local
    hooks:
      - id: cdk-synth
        name: cdk synth
        entry: bash -c 'npx cdk synth --no-staging > /dev/null 2>&1 || true'
        language: system
        pass_filenames: false
        files: ^(lib/|bin/).*\.(ts|js)$
        stages: [pre-push]

fix: strip/linkify inline article citations leaking into Brief prose
  src/rss_email/brief_generator.py
  tests/test_brief_generator.py
Due: pylint

Checkpoint: 8068cf8947b3
  80/68cf8947b3/0/content_hash.txt
  80/68cf8947b3/0/full.jsonl
  80/68cf8947b3/0/metadata.json
  80/68cf8947b3/0/prompt.txt
  80/68cf8947b3/0/transcript.jsonl
  80/68cf8947b3/metadata.json
Due: none

Finalize transcript for Checkpoint: 8068cf8947b3
  80/68cf8947b3/0/content_hash.txt
  80/68cf8947b3/0/full.jsonl
  80/68cf8947b3/0/transcript.jsonl
Due: none

Finalize transcript for Checkpoint: ee4cf070ebe8
  ee/4cf070ebe8/0/content_hash.txt
  ee/4cf070ebe8/0/full.jsonl
  ee/4cf070ebe8/0/transcript.jsonl
Due: none

Finalize transcript for Checkpoint: c725f7a922d5
  c7/25f7a922d5/0/content_hash.txt
  c7/25f7a922d5/0/full.jsonl
  c7/25f7a922d5/0/transcript.jsonl
Due: none

feat: migrate anthropic SDK to >=1.0.0 (#58)
  eval/provider.py
  pyproject.toml
  src/rss_email/article_grouper.py
  src/rss_email/article_processor.py
  src/rss_email/brief_generator.py
  tests/test_article_grouper.py
  tests/test_brief_generator.py
  tests/test_comprehensive_email_flow.py
  uv.lock
Due: pylint

fix: strip/linkify inline article citations leaking into Brief prose (#59)
  src/rss_email/brief_generator.py
  tests/test_brief_generator.py
Due: pylint

feat: add DIGEST_ENABLED toggle to pause the daily digest email
  lib/rss_lambda_stack.ts
  src/rss_email/retrieve_and_send_email.py
  tests/test_brief_generator.py
Due: pylint, cdk-synth

fix: freeze datetime.now() in append_and_prune day tests
  tests/test_brief_memory.py
Due: pylint

Pause the daily RSS digest email (DIGEST_ENABLED toggle) (#63)
  lib/rss_lambda_stack.ts
  src/rss_email/retrieve_and_send_email.py
  tests/test_brief_generator.py
  tests/test_brief_memory.py
Due: pylint, cdk-synth

chore(agent): pin ai-workflows to a SHA instead of @main
  .github/workflows/agent-executor.yml
  .github/workflows/agent-planner.yml
  .github/workflows/agent-reviewer.yml
Due: none

chore: delete agent-triage.yml, which merged PRs without assessing them
  .github/workflows/agent-triage.yml
Due: none

feat: add scripts/verify.sh, the gate the agent executor must pass
  scripts/verify.sh
Due: none

feat: repoint the agent callers at the hardened engine (v1.1.0)
  .github/dependabot.yml
  .github/workflows/agent-executor.yml
  .github/workflows/agent-planner.yml
  .github/workflows/agent-reviewer.yml
  AI_WORKFLOW.md
Due: none

feat: link the discussion thread alongside the article in the RSS Brief
  CLAUDE.md
  src/rss_email/article_processor.py
  src/rss_email/brief_generator.py
  src/rss_email/retrieve_and_send_email.py
  src/rss_email/retrieve_articles.py
  tests/test_batch_metadata_enrichment.py
  tests/test_brief_discussion_links.py
  tests/test_brief_generator.py
  tests/test_retrieve_articles.py
Due: pylint

feat: link the discussion thread alongside the article in the RSS Brief (#68)
  CLAUDE.md
  src/rss_email/article_processor.py
  src/rss_email/brief_generator.py
  src/rss_email/retrieve_and_send_email.py
  src/rss_email/retrieve_articles.py
  tests/test_batch_metadata_enrichment.py
  tests/test_brief_discussion_links.py
  tests/test_brief_generator.py
  tests/test_retrieve_articles.py
Due: pylint

Handle 410 Gone feeds without paging on-call
  src/rss_email/retrieve_articles.py
  tests/test_retrieve_articles.py
Due: pylint

Handle 410 Gone feeds without paging on-call (#70)
  src/rss_email/retrieve_articles.py
  tests/test_retrieve_articles.py
Due: pylint

Stop test_problematic_feeds failing on 304 and a dead feed
  tests/test_decompression.py
Due: pylint

Stop test_problematic_feeds failing on 304 and a dead feed (#71)
  tests/test_decompression.py
Due: pylint

fix(eval): bump vulnerable transitive deps via npm overrides
  eval/package-lock.json
  eval/package.json
Due: none

fix(eval): bump vulnerable transitive deps via npm overrides (#73)
  eval/package-lock.json
  eval/package.json
Due: none

Make the RSS Brief shorter, more selective and more faithful
  CLAUDE.md
  eval/assertions/schema.cjs
  eval/provider.py
  pyproject.toml
  src/rss_email/brief_config.json
  src/rss_email/brief_generator.py
  src/rss_email/brief_memory.py
  src/rss_email/brief_prompt.py
  src/rss_email/models.py
  src/rss_email/retrieve_and_send_email.py
  src/rss_email/retrieve_articles.py
  src/rss_email/url_utils.py
  tests/test_brief_concise.py
  tests/test_brief_generator.py
  tests/test_url_utils.py
  uv.lock
Due: pylint

Make the RSS Brief shorter, more selective and more faithful (#80)
  CLAUDE.md
  eval/assertions/schema.cjs
  eval/provider.py
  pyproject.toml
  src/rss_email/brief_config.json
  src/rss_email/brief_generator.py
  src/rss_email/brief_memory.py
  src/rss_email/brief_prompt.py
  src/rss_email/models.py
  src/rss_email/retrieve_and_send_email.py
  src/rss_email/retrieve_articles.py
  src/rss_email/url_utils.py
  tests/test_brief_concise.py
  tests/test_brief_generator.py
  tests/test_url_utils.py
  uv.lock
Due: pylint

Remove redundant Date line from RSS Brief email
  src/rss_email/brief_body.html
  src/rss_email/brief_generator.py
Due: pylint

Stop unit tests from making live internet connections
  tests/test_all_feeds.py
  tests/test_decompression.py
  tests/test_retrieve_articles.py
Due: pylint

Stop the RSS Brief heading from repeating the date
  src/rss_email/brief_body.html
  src/rss_email/brief_generator.py
  tests/test_brief_concise.py
  tests/test_brief_generator.py
Due: pylint

Drop the "RSS Brief" body heading; move article count to footer
  src/rss_email/brief_body.html
  tests/test_brief_generator.py
Due: pylint

Remove RSS Brief date repetition; stop tests hitting live network (#81)
  src/rss_email/brief_body.html
  src/rss_email/brief_generator.py
  tests/test_all_feeds.py
  tests/test_brief_concise.py
  tests/test_brief_generator.py
  tests/test_decompression.py
  tests/test_retrieve_articles.py
Due: pylint

feat: move RSS Brief synthesis to Claude Opus 5.5
  .env.example
  CLAUDE.md
  README.md
  eval/promptfooconfig.yaml
  lib/rss_lambda_stack.ts
  src/rss_email/brief_config.json
  src/rss_email/brief_generator.py
  src/rss_email/email_articles.py
  src/rss_email/models.py
  src/rss_email/podcast_generator.py
  tests/test_article_processor.py
  tests/test_brief_concise.py
  tests/test_brief_generator.py
  tests/test_claude_improvements.py
  tests/test_comprehensive_email_flow.py
  tests/test_podcast_batch_modules.py
  tests/test_submit_email_batch.py
Due: pylint, cdk-synth

Checkpoint: e978ba20d020
  e9/78ba20d020/0/content_hash.txt
  e9/78ba20d020/0/full.jsonl
  e9/78ba20d020/0/metadata.json
  e9/78ba20d020/0/prompt.txt
  e9/78ba20d020/0/transcript.jsonl
  e9/78ba20d020/metadata.json
Due: none

Finalize transcript for Checkpoint: e978ba20d020
  e9/78ba20d020/0/content_hash.txt
  e9/78ba20d020/0/full.jsonl
  e9/78ba20d020/0/transcript.jsonl
Due: none

feat: move RSS Brief synthesis to Claude Opus 5.5 (#82)
  .env.example
  CLAUDE.md
  README.md
  eval/promptfooconfig.yaml
  lib/rss_lambda_stack.ts
  src/rss_email/brief_config.json
  src/rss_email/brief_generator.py
  src/rss_email/email_articles.py
  src/rss_email/models.py
  src/rss_email/podcast_generator.py
  tests/test_article_processor.py
  tests/test_brief_concise.py
  tests/test_brief_generator.py
  tests/test_claude_improvements.py
  tests/test_comprehensive_email_flow.py
  tests/test_podcast_batch_modules.py
  tests/test_submit_email_batch.py
Due: pylint, cdk-synth

chore: delete agent-triage.yml, which merged PRs without assessing them (#65)
  .github/workflows/agent-triage.yml
Due: none

feat: add scripts/verify.sh, the gate the agent executor must pass (#66)
  scripts/verify.sh
Due: none

feat: repoint the agent callers at the hardened engine (v1.1.0) (#67)
  .github/dependabot.yml
  .github/workflows/agent-executor.yml
  .github/workflows/agent-planner.yml
  .github/workflows/agent-reviewer.yml
  AI_WORKFLOW.md
Due: none
