Repository eamonmason/rss-email: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cdk-synth

.pre-commit-config.yaml:

# Pre-commit hooks for RSS Email project
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags used by CDK
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending

  # Python linting with flake8 (PEP 8 compliance)
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ['--max-line-length=120']
        files: \.py$
        exclude: ^(node_modules/|\.venv/|build/|dist/)

  # Python linting with pylint (code quality)
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c 'uv run pylint --fail-under=9.9 "$@"' --
        language: system
        types: [python]
        files: ^(src/|tests/).*\.py$
        require_serial: true

  # Python unit tests
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c 'uv run python -m pytest tests'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # CDK synth check (optional, only on pre-push)
  - repo: local
    hooks:
      - id: cdk-synth
        name: cdk synth
        entry: bash -c 'npx cdk synth --no-staging > /dev/null 2>&1 || true'
        language: system
        pass_filenames: false
        files: ^(lib/|bin/).*\.(ts|js)$
        stages: [pre-push]

chore(deps): add dependabot coverage for eval/'s own dependency tree
  .github/dependabot.yml
Due: none

fix(security): resolve 6 Dependabot alerts and 1 CodeQL alert (#40)
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  eval/package-lock.json
  eval/package.json
Due: none

Checkpoint: 1caf3b0ead96
  1c/af3b0ead96/0/content_hash.txt
  1c/af3b0ead96/0/full.jsonl
  1c/af3b0ead96/0/metadata.json
  1c/af3b0ead96/0/prompt.txt
  1c/af3b0ead96/0/transcript.jsonl
  1c/af3b0ead96/metadata.json
Due: none

Finalize transcript for Checkpoint: 1caf3b0ead96
  1c/af3b0ead96/0/content_hash.txt
  1c/af3b0ead96/0/full.jsonl
  1c/af3b0ead96/0/prompt.txt
  1c/af3b0ead96/0/transcript.jsonl
Due: none

ci: migrate deployment from CodePipeline to GitHub Actions
  .github/workflows/deploy.yml
  .github/workflows/lint_and_test.yml
  CLAUDE.md
  README.md
  bin/cdk.ts
  bin/github-oidc-cdk.ts
  bin/pipeline-cdk.ts
  cdk.json
  lib/github_actions_role_stack.ts
  lib/rss_lambda_stack.ts
  lib/rss_pipeline_app_stage.ts
  lib/rss_pipeline_stack.ts
  package.json
  setup.cfg
Due: cdk-synth

ci: migrate deployment from CodePipeline to GitHub Actions (#50)
  .github/workflows/deploy.yml
  .github/workflows/lint_and_test.yml
  CLAUDE.md
  README.md
  bin/cdk.ts
  bin/github-oidc-cdk.ts
  bin/pipeline-cdk.ts
  cdk.json
  lib/github_actions_role_stack.ts
  lib/rss_lambda_stack.ts
  lib/rss_pipeline_app_stage.ts
  lib/rss_pipeline_stack.ts
  package.json
  setup.cfg
Due: cdk-synth

Checkpoint: d9916e85b8a5
  d9/916e85b8a5/0/content_hash.txt
  d9/916e85b8a5/0/full.jsonl
  d9/916e85b8a5/0/metadata.json
  d9/916e85b8a5/0/prompt.txt
  d9/916e85b8a5/0/transcript.jsonl
  d9/916e85b8a5/metadata.json
Due: none

Checkpoint: df3a1c3b6e05
  df/3a1c3b6e05/0/content_hash.txt
  df/3a1c3b6e05/0/full.jsonl
  df/3a1c3b6e05/0/metadata.json
  df/3a1c3b6e05/0/transcript.jsonl
  df/3a1c3b6e05/metadata.json
Due: none

Finalize transcript for Checkpoint: d9916e85b8a5
  d9/916e85b8a5/0/content_hash.txt
  d9/916e85b8a5/0/full.jsonl
  d9/916e85b8a5/0/transcript.jsonl
Due: none

Finalize transcript for Checkpoint: df3a1c3b6e05
  df/3a1c3b6e05/0/content_hash.txt
  df/3a1c3b6e05/0/full.jsonl
  df/3a1c3b6e05/0/transcript.jsonl
Due: none

ci(eval): run the fidelity eval on Node 24 so npm ci accepts the lockfile
  .github/workflows/eval.yml
  eval/README.md
Due: none

ci(eval): drop brittle version numbers from the Node pin comment
  .github/workflows/eval.yml
Due: none

ci(eval): run the fidelity eval on Node 24 so npm ci accepts the lockfile (#51)
  .github/workflows/eval.yml
  eval/README.md
Due: none

fix: cite RSS Brief articles by id instead of echoed titles
  eval/README.md
  eval/assertions/major_coverage.cjs
  eval/assertions/source_ranking.cjs
  eval/provider.py
  src/rss_email/brief_generator.py
  src/rss_email/models.py
  tests/test_brief_generator.py
Due: pylint

Checkpoint: 3f489057396b
  3f/489057396b/0/content_hash.txt
  3f/489057396b/0/full.jsonl
  3f/489057396b/0/metadata.json
  3f/489057396b/0/prompt.txt
  3f/489057396b/0/transcript.jsonl
  3f/489057396b/metadata.json
Due: none

Finalize transcript for Checkpoint: 3f489057396b
  3f/489057396b/0/content_hash.txt
  3f/489057396b/0/full.jsonl
  3f/489057396b/0/prompt.txt
  3f/489057396b/0/transcript.jsonl
Due: none

fix: cite RSS Brief articles by id instead of echoed titles (#54)
  eval/README.md
  eval/assertions/major_coverage.cjs
  eval/assertions/source_ranking.cjs
  eval/provider.py
  src/rss_email/brief_generator.py
  src/rss_email/models.py
  tests/test_brief_generator.py
Due: pylint

chore: ignore .claude and .entire directories
  .gitignore
Due: none

Update checkpoint summary for 0720b6d6b289
  07/20b6d6b289/metadata.json
Due: none

Checkpoint: 0720b6d6b289
  07/20b6d6b289/0/content_hash.txt
  07/20b6d6b289/0/full.jsonl
  07/20b6d6b289/0/metadata.json
  07/20b6d6b289/0/prompt.txt
  07/20b6d6b289/0/transcript.jsonl
  07/20b6d6b289/metadata.json
Due: none

Checkpoint: 0720b6d6b289
  07/20b6d6b289/1/content_hash.txt
  07/20b6d6b289/1/full.jsonl
  07/20b6d6b289/1/metadata.json
  07/20b6d6b289/1/prompt.txt
  07/20b6d6b289/1/transcript.jsonl
  07/20b6d6b289/metadata.json
Due: none

Finalize transcript for Checkpoint: 0720b6d6b289
  07/20b6d6b289/0/content_hash.txt
  07/20b6d6b289/0/full.jsonl
  07/20b6d6b289/0/transcript.jsonl
Due: none

fix: recover fenced JSON in article categorization without noisy fallback
  src/rss_email/article_grouper.py
  src/rss_email/article_processor.py
  tests/test_article_grouper.py
  tests/test_article_processor.py
  tests/test_comprehensive_email_flow.py
Due: pylint

Checkpoint: 5c8b2f55ba59
  5c/8b2f55ba59/0/content_hash.txt
  5c/8b2f55ba59/0/full.jsonl
  5c/8b2f55ba59/0/metadata.json
  5c/8b2f55ba59/0/prompt.txt
  5c/8b2f55ba59/0/transcript.jsonl
  5c/8b2f55ba59/metadata.json
Due: none

Finalize transcript for Checkpoint: 5c8b2f55ba59
  5c/8b2f55ba59/0/content_hash.txt
  5c/8b2f55ba59/0/full.jsonl
  5c/8b2f55ba59/0/transcript.jsonl
Due: none

fix: recover fenced JSON in article categorization without noisy fallback (#55)
  src/rss_email/article_grouper.py
  src/rss_email/article_processor.py
  tests/test_article_grouper.py
  tests/test_article_processor.py
  tests/test_comprehensive_email_flow.py
Due: pylint

feat: remember recent RSS Brief days to avoid repeats and track developing stories
  CLAUDE.md
  lib/rss_lambda_stack.ts
  src/rss_email/brief_generator.py
  src/rss_email/brief_memory.py
  src/rss_email/models.py
  src/rss_email/retrieve_and_send_email.py
  tests/test_brief_generator.py
  tests/test_brief_memory.py
Due: pylint, cdk-synth

Checkpoint: e80e9ad03d37
  e8/0e9ad03d37/0/content_hash.txt
  e8/0e9ad03d37/0/full.jsonl
  e8/0e9ad03d37/0/metadata.json
  e8/0e9ad03d37/0/prompt.txt
  e8/0e9ad03d37/0/transcript.jsonl
  e8/0e9ad03d37/metadata.json
Due: none

Finalize transcript for Checkpoint: e80e9ad03d37
  e8/0e9ad03d37/0/content_hash.txt
  e8/0e9ad03d37/0/full.jsonl
  e8/0e9ad03d37/0/transcript.jsonl
Due: none

feat: remember recent RSS Brief days to avoid repeats and track developing stories (#56)
  CLAUDE.md
  lib/rss_lambda_stack.ts
  src/rss_email/brief_generator.py
  src/rss_email/brief_memory.py
  src/rss_email/models.py
  src/rss_email/retrieve_and_send_email.py
  tests/test_brief_generator.py
  tests/test_brief_memory.py
Due: pylint, cdk-synth

fix: pin anthropic below 1.0 and freeze Lambda layer deps from uv.lock
  .github/workflows/deploy.yml
  lib/rss_lambda_stack.ts
  pyproject.toml
  uv.lock
Due: cdk-synth

Checkpoint: 25e2146c0fe3
  25/e2146c0fe3/0/content_hash.txt
  25/e2146c0fe3/0/full.jsonl
  25/e2146c0fe3/0/metadata.json
  25/e2146c0fe3/0/prompt.txt
  25/e2146c0fe3/0/transcript.jsonl
  25/e2146c0fe3/metadata.json
Due: none

Finalize transcript for Checkpoint: 25e2146c0fe3
  25/e2146c0fe3/0/content_hash.txt
  25/e2146c0fe3/0/full.jsonl
  25/e2146c0fe3/0/transcript.jsonl
Due: none

ci: install uv in test-cdk-synth workflow
  .github/workflows/test-cdk.yml
Due: none

Checkpoint: e94f3cce508b
  e9/4f3cce508b/0/content_hash.txt
  e9/4f3cce508b/0/full.jsonl
  e9/4f3cce508b/0/metadata.json
  e9/4f3cce508b/0/prompt.txt
  e9/4f3cce508b/0/transcript.jsonl
  e9/4f3cce508b/metadata.json
Due: none

Finalize transcript for Checkpoint: e94f3cce508b
  e9/4f3cce508b/0/content_hash.txt
  e9/4f3cce508b/0/full.jsonl
  e9/4f3cce508b/0/transcript.jsonl
Due: none

fix: pin anthropic below 1.0 and freeze Lambda layer deps from uv.lock (#57)
  .github/workflows/deploy.yml
  .github/workflows/test-cdk.yml
  lib/rss_lambda_stack.ts
  pyproject.toml
  uv.lock
Due: cdk-synth

feat: migrate anthropic SDK to >=1.0.0
  eval/provider.py
  pyproject.toml
  src/rss_email/article_grouper.py
  src/rss_email/article_processor.py
  src/rss_email/brief_generator.py
  tests/test_article_grouper.py
  tests/test_brief_generator.py
  tests/test_comprehensive_email_flow.py
  uv.lock
Due: pylint

Checkpoint: c725f7a922d5
  c7/25f7a922d5/0/content_hash.txt
  c7/25f7a922d5/0/full.jsonl
  c7/25f7a922d5/0/metadata.json
  c7/25f7a922d5/0/prompt.txt
  c7/25f7a922d5/0/transcript.jsonl
  c7/25f7a922d5/metadata.json
Due: none

Checkpoint: ee4cf070ebe8
  ee/4cf070ebe8/0/content_hash.txt
  ee/4cf070ebe8/0/full.jsonl
  ee/4cf070ebe8/0/metadata.json
  ee/4cf070ebe8/0/prompt.txt
  ee/4cf070ebe8/0/transcript.jsonl
  ee/4cf070ebe8/metadata.json
Due: none
